/* Timer App Styles */

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #166534;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}